<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbt.shopping.inhoo.DetailMapper">

<insert id="regReview">
		 insert into review values(review_seq.nextval, #{p_no}, #{r_id}, #{r_title}, #{r_content}, #{r_rate}, #{r_img, jdbcType=VARCHAR}, sysdate)
</insert>
    
<!-- <insert id="regReview">
		insert into review values(review_seq.nextval, 1, #{r_id}, #{r_title}, #{r_content}, #{r_rate}, #{r_img}, sysdate)
</insert> -->


<insert id="regQna">
		insert into qna values(qna_seq.nextval, #{q_id}, #{p_no }, #{q_title }, #{q_content }, sysdate)
</insert>
    
    
    
<select id="getAllReview" resultType="com.sbt.shopping.inhoo.DetailDTO">
	select * from review
</select>




<select id="getProduct" resultType="com.sbt.shopping.jaehwan.ProductDTO">
    SELECT * FROM product WHERE p_no = #{p_no} 
</select>




<select id="getReviews" resultType="com.sbt.shopping.inhoo.DetailDTO">
	  select *
        from (
        	select rownum as rn, r_no, r_product, r_id,r_title,r_content,r_rate,r_img,r_date
        	from (
        		select * from review
        		where r_product = #{no}
        		order by r_date desc
        	)
        )
        where rn &gt;= #{start} and rn &lt;= #{end}
</select>




<select id="getReviewCount" resultType="int">
	select count(*) from review where r_product = #{p_no}
</select>




<!-- QnA 페이징 -->
<select id="getQnAs" resultType="com.sbt.shopping.inhoo.QnaDTO">
    SELECT *
    FROM (
        SELECT ROWNUM AS rn, q_no, q_product, q_id, q_title, q_content, q_date
        FROM (
            SELECT *
            FROM qna
            WHERE q_product = #{no}
            ORDER BY q_date DESC
        )
    )
    WHERE rn &gt;= #{start} AND rn &lt;= #{end}
</select>



<select id="getQnACount" resultType="int">
    SELECT COUNT(*) FROM qna WHERE q_product = #{p_no}
</select>




<delete id="deleteQna">
	 delete qna where q_no = #{q_no}
</delete>

<delete id="deleteReview">
	 delete review where r_no = #{r_no}
</delete>





</mapper>