<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbt.shopping.kimoon.notice.NoticeMapper">
	<select id="getNoticeCount" resultType="java.lang.Integer">
		select count(*)
		from
		notice,
		account
		where n_id = a_id
		<!-- and n_txt like '%'||#{search}||'%' -->
	</select>
	
	<select id="getNotice" resultType="com.sbt.shopping.kimoon.notice.NoticePost">
		select *
		from (
		select rownum as rn, n_no, a_nickname, n_title, n_txt, n_date
		from (
		select * from notice, account
		where n_id = a_id
		order by n_date desc
		)
		)
		where rn &gt;= #{start} and rn &lt;= #{end}
	</select>
	<!-- select *
		from (
		select rownum as rn, n_no, n_id, n_txt, n_date
		from (
		select * from notice, account
		where n_id = a_id and n_txt like '%'||#{search}||'%'
		order by n_date desc
		)
		)
		where rn &gt;= #{start} and rn &lt;= #{end} -->
</mapper>