.marginContainer{
	margin-left: 17%;
	
}
.marginContent{
	margin-top : 5%;
	display: flex;
}
.marginInfo{
	border: 1px solid white;
	color: white;
	width: 100%;
}
.marginInfo div{
	display : flex;
	border-bottom: 1px solid white;
}
#info-container{
	margin-left: 2%;
	width: 320px;
	height : 437px;
	padding: 30px;
	background: rgba(125,125,125,0.25);
	border-radius: 30px;
	font-size: 15px;
}
#info-container p{
	border-bottom: 1px solid grey;
}
#lineChart{
	margin-top : 2%;
	border-radius : 10px;
	background: #131c27;
	padding: 30px;
	width: 740px;
	height : 380px;
}
.reg-info-btn{
	margin-left: 23%;
	width: 50%;
	height: 10%;
	border-radius: 10px;
	color: white;
	background: #0069d2;
	border: none;
}
