
.ul-div {
	font-size: 15px;
	font-weight: bold;
	color: white;
	margin: auto;
	text-align: center;
}

.ul-div:nth-child(1) {
	width: 13%;
	margin : 0;
}

.ul-div:nth-child(2) {
	width: 21%;
	line-height: normal;
}

.ul-div:nth-child(3) {
	width: 20%;
}

.ul-div:nth-child(4) {
	width:14%;
}

.ul-div:nth-child(5) {
    width: 100%;
   
}

.ul-div:nth-child(6) {
	width: 45%;
}

.ul-div:nth-child(7) {
	width: 5%;
}
.ul-div:nth-child(8) {
	width: 3%;
}
.ul-div:nth-child(9) {
	width: 0%;
}
.ul-div:nth-child(10) {
	width: 37%;
	
}
.ul-div:nth-child(11) {
	width: 100%;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}

.listPage_item1 {
	display: flex;
	width: 100%;
	height: 100px;
	background-color: #1b2838;
	justify-content: start;
	line-height: 80px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.listPage_item1:hover {
	background-color: #ffffff08;
}

.listPage_contents {
	padding-top: 5%;
}

.productImg {
	width: 155px;
	height:	99px;
}

.LogoImg {
	width: 60px;
	height: 55px;
}

.CartImg {
	width: 35px;
	height: 35px;
	background-color: #ff8000;
	border-radius: 10px;
	margin-top: 35px;
}

.detail_Search {
	width: 200px;
	height: 30px;
	color: white;
	background-color: #46b8da;
	border-radius: 20px;
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
}

.detail_Search_Window {
	width: 100%;
	margin-bottom: 5px;
	align-items: center;
	background-color: #547eb1;
}

.detail_Search_Window select {
	padding-top: 20px;
	width: 20vw
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	padding: 12px 13px;
	font-family: 'Roboto';
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
	background-color: transparent;
	color: white;
}

.detail_Search_Window select option {
	color: white;
}

.detail_Search_Window select:focus {
	box-sizing: border-box;
	outline: 2px solid #4d729f;
	background-color: #1b2838;
}

.detail_Search_Window h3 {
	color: white;
	font-size: 20px;
}

.paginationjs {
	padding-left: 40%;
	padding-top: 3%;
	
}

.typeBy {
	margin: 10px;
}

#searchDetail {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 12px;
	background-color: #131c27;
}

.chkbox1 {
	display: flex;
	background-color: #131c27;
	padding-top: 10px;
}

.chkbox2 {
	display: flex;
	background-color: #131c27;
}
.intoTheCart--btn{
	width : 40px;
	height : 40px;
	font-size: 1.125rem;
	font-weight: 700;
	border-color: #eea236;
	border-radius: 2px;
	background: linear-gradient(#f0ad4e, #eea236);
	border: 1px solid #eea236;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.2) inset;
	border-radius: 2px;
	border-color: #eea236;
	word-break: keep-all;
	margin-left: 6px;
}
.intoTheCart--btn:hover {
	background: #eea236;
	border-color: #d58512;
}
.aaa {
	display: grid;
	width: 8%;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-left: 10px;
}
.productSale{
	position: absolute;
    margin-top: 21px;
}

.productDifference{
background : transparent;
	color: white;
	font-size: 14px;
	height: 40px;
	line-height : 40px;
	width: 55px;
	background-color: red;
	text-align: center;
	border-radius: 5px;
	font-weight: bold;
	margin-left : 16px;
}
.productModify{
	display: flex;
	justify-content: end;
	
}
.productModify a{
	text-decoration: none;
}
.productModify button{
	width: 45px;
	height:32px;
	margin : 5px 5px 10px 5px;
	font-size: revert;
	line-height: normal;
	
}
.reg-popup--btn{
	position: absolute;
	right: 20%;
}
.DifferAndCart{
	display: flex;
	align-items: center;
}


----------------------------------------------

@media screen and (max-width: 500px) {
	/* 화면크기가 500px 이하일 경우 */
	.detail_Search_Window {
		margin-top: 0;
		margin-bottom: 0;
	}
	.listPage_item1 {
	justify-content : space-between;
	display : inline-table;
	width: 165px;
	height: 350px;
	background-color: #1b2838;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin-left: 20px
	
}
.detail_Search_Window select {
	padding-top: 20px;
	width: 29vw;
	height: 4vh;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	padding: 12px 13px;
	font-family: 'Roboto';
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
	background-color: transparent;
	color: white;
}
	.productImg {
	
	height : 60px;
	width: 40vw;
	margin-top: 60px;
}
	.companyLogo {
	width: 60px;
	height: 60px;
}
	.productColor{
	margin-bottom: 
	}
	.companyName {
	display:none;
}
	.productTitle{
	width: 20%;
	}
	.productPrice{
	}
.ul-div{
    font-size: 14px;
    font-weight: bold;
    display: contents;
}


}