div{
	
	color:white;
}
.findPw{
	text-indent:30px;
	width: 100%;
	height: 30px;
	margin-top: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
.emailForPw{
	margin-top:20px;
	margin-left: 5%;
	margin-bottom: 20px;
	width: 275px;
	height: 30px;
}
.writeEmail{
	text-align: center;
}
.w3-container{
	border: 1px solid rgba(255,255,255,0.1);
	width:70%;
	height: 80%;
	margin-top:30px;
	margin-left: 15%;
	display: block;
}
#findBtn{
	margin-left: 37%;
	margin-bottom: 12px;
}
#verificationCode{
	margin-left: 6%;
	width: 275px;
    height: 30px
}
#verificationCodewrite{
	margin-left: -25px;
}
#verificationCodeContainer{
	margin-top:20px;
	margin-left: 175px;
	
}
#verifyCodeBtn{
	margin-left: 48%;
	margin-top:20px;
	margin-bottom: 20px;
}